<!DOCTYPE html>
<html lang="en">
    <head>
        <title>File Metadata Microservice</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Select file to upload</h1>
        <p>After upload you 'll get the file size in JSON format.</p>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="uploadedFile">
            <button type="submit">Upload</button>
        </form>
    </body>
</html>